/*
	Fonts
*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata&text=Hello%20World#41A317);

/*
	Page Setup
*/
*{
	margin: 0;
	padding: 0;
}

*::-webkit-input-placeholder{
	opacity: 0.3;
}

body{
	background: #333;
	padding-top: 12%;
	font-size: 11px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

p, li, a{
	color: #dcdccc;
	font-family: Lato, Consolas;
	font-weight: 300;
	letter-spacing:2px;
}

/*
	Favorite
*/
.favorites{
	width: 90%;
	margin: 10px auto 0 auto;
	text-align: center;
}

.favorites p{
	border-bottom: 1px solid #dcdccc;
	padding-right: 100%;
}

.list{
	display: inline-block;
	width: 18%;
	margin: 0 15px;
	vertical-align: text-top;
}

.list ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	display: block;
	padding: 3px;
}

a:hover{
	color: #333;
	background: #dcdccc;
}

/*
	Google Pages
*/
.googles{
	width: 90%;
	margin: 25px auto;
	text-align: center;
}

.googles p{
	display: inline-block;
	width: 18%;
	margin: 10px 10px;
	border: 1px solid #dcdccc;
}
	
/*
	Search Bars
*/
form{
	width: 90%;
	margin: auto;
	padding: 5px;
	text-align: center;
	position: relative;
}

.search{
	width: 400px;
	height: 20px;
	margin-right: -4px;
	padding: 2px 0px 2px 5px;
	background: #333;
	color: #dcdccc;
	border: 1px solid #444;
}

.search:hover{
	border: 1px solid #666;
}

.search:focus{
	outline: none;
	border: 1px solid #dcdccc;
}

.go{
	height: 26px;
	width: 40px;
	background: #333;
	color: #dcdccc;
	border: 1px solid #dcdccc;
}

.go:hover{
	background: #dcdccc;
	color: #333;
	cursor: pointer;
}

.go:focus{
	outline: none;
}
