URxvt*font: xft:CamingoCode:pixelsize=12:antialias=true
URxvt*letterSpace: 0
URxvt*lineSpace: -1
URxvt*termName: rxvt-256color
URxvt*geometry: 58x18
URxvt*internalBorder: 4
URxvt*scrollBar: false
URxvt*transparent: true
URxvt*shading: 30
URxvt*fading: 0
URxvt*perl-lib: /usr/pkg/lib/urxvt/perl5/
URxvt.perl-ext-common: default,clipboard,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.C-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.saveLines: 65535
!URxvt*altSendsEscape: true

#include </home/chef/.colors/blues>
