XTerm*faceName: xft:Hack:style=Regular
XTerm*faceNameDoublesize: xft:fontawesome-webfont:style=Regular
XTerm*faceSize: 10

XTerm*vt100*geometry: 58x18		
XTerm*saveLines: 4096
XTerm*loginShell: true
XTerm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
XTerm*termName: xterm-256color
XTerm*eightBitInput: false
XTerm*locale: true
XTerm*metaSendsEscape: true
XTerm*borderWidth: 0
XTerm*scaleHeight: 1.01
XTerm*utf8: 1
XTerm*selectToClipboard: true
XTerm*ScrollBar: false
XTerm*ScrollKey: true

Xft*dpi:                96
Xft*antialias:          true
Xft*hinting:            none
Xft.autohint:           0
Xft.antialias:          1
Xft.hinting:            true
Xft.hintstyle:          hintfull
Xft.dpi:                96
Xft.rgba:               rgb
Xft.lcdfilter:          lcddefault

#include </home/chef/.colors/base16-ocean-256>
